@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: FeatureFlatHeadline;
  src: url(/assets/fonts/FeatureFlatHeadline.woff2);
}

@font-face {
  font-family: FeatureFlatBold;
  src: url(/assets/fonts/FeatureFlatText-Bold.otf);
}

@font-face {
  font-family: FeatureFlatRegular;
  src: url(/assets/fonts/FeatureFlatText-Regular.otf);
}

@font-face {
  font-family: LarkenExtraBold;
  src: url(/assets/fonts/LarkenDEMO-ExtraBold.otf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .bg-animation {
    background: linear-gradient(0deg, #fffaeb, #fffaeb) no-repeat 100% 100%/0
      100%;
  }

  .bg-hover-animation {
    transition: background-size 0.3s;
    background-size: 100% 100%;
    background-position-x: left;
  }
}

body {
  font-family: FeatureFlatRegular, sans-serif;
  background-color: #f8f5d7;
  overflow-x: hidden;
  overflow-y: auto;
}

.widget {
  padding: 24px;
  margin: 24px;
}
.widget.clock {
  position: relative;
  width: 384px;
  height: 384px;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: transparent;
  zoom: 0.085;
}
.widget.clock#okinawa,
.widget.clock#amalfi {
  width: 240px;
  height: 240px;
}
.widget.clock#okinawa:before,
.widget.clock#amalfi:before {
  border-width: 3px;
}
.widget.clock#okinawa .hand,
.widget.clock#amalfi .hand {
  height: 3px;
  top: 118.5px;
  transform-origin: right 1.5px;
}
.widget.clock#okinawa .hand.seconds,
.widget.clock#amalfi .hand.seconds {
  display: none;
}
.widget.clock:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px dotted #000;
  border-radius: 100%;
  box-sizing: border-box;
}
.widget.clock .shadow {
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: rotate(-45deg);
  transform-origin: 50% 0%;
  opacity: 0.3;
  z-index: -1;
}
.widget.clock .hand {
  height: 6px;
  position: absolute;
  top: 189px;
  border-radius: 100% 0% 0% 100%;
  transform-origin: right 3px;
  transition: all 0.05s cubic-bezier(0, 0, 0.52, 2.51) 0s;
}
.widget.clock .hand.seconds {
  width: 45%;
  left: 5%;
  background-color: #af1f1b;
}
.widget.clock .hand.minutes {
  width: 35%;
  left: 15%;
  background-color: #1f1d1a;
}
.widget.clock .hand.hours {
  width: 25%;
  left: 25%;
  background-color: #1f1d1a;
}
.widget.clock .hand-cap {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  background-color: #fff;
  border-radius: 100%;
}
.widget label {
  display: block;
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;
  opacity: 0.5;
}

.jodit-container {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.jodit-react-container {
  height: 600px;
  max-width: 1100px;
  margin: 30px auto;
}

.jodit-toolbar__box {
  background-color: #f8f5d7 !important;
  flex-shrink: 0 !important;
}

.jodit-workplace {
  height: 100% !important;
  background-color: #f8f5d7 !important;
}

.jodit-status-bar {
  background-color: #f8f5d7 !important;
}

.jodit-status-bar .jodit-status-bar__item:last-child {
  display: none;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.article-dynamic-container iframe,
.article-dynamic-container img {
  max-width: 100%;
}

.clock-wrapper {
  position: relative;
  /* position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0; */
  width: 280px;
  height: 280px;
  margin: auto;
  /* padding: 5px; */
  /* background-image: linear-gradient(#f7f7f7, #e0e0e0); */
  border-radius: 50%;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.2); */
  border: 1px dotted black;
}
.clock-base {
  /* width: 250px;
  height: 250px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 5px #eee; */
}
.clock-dial {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 230px;
  height: 230px;
}
.clock-dial .clock-indicator {
  position: absolute;
  width: 2px;
  height: 4px;
  margin: 113px 114px;
  background-color: #ddd;
}
.clock-indicator:nth-child(1) {
  transform: rotate(30deg) translateY(-113px);
}
.clock-indicator:nth-child(2) {
  transform: rotate(60deg) translateY(-113px);
}
.clock-indicator:nth-child(3) {
  transform: rotate(90deg) translateY(-113px);
  background-color: #aaa;
}
.clock-indicator:nth-child(4) {
  transform: rotate(120deg) translateY(-113px);
}
.clock-indicator:nth-child(5) {
  transform: rotate(150deg) translateY(-113px);
}
.clock-indicator:nth-child(6) {
  transform: rotate(180deg) translateY(-113px);
  background-color: #aaa;
}
.clock-indicator:nth-child(7) {
  transform: rotate(210deg) translateY(-113px);
}
.clock-indicator:nth-child(8) {
  transform: rotate(240deg) translateY(-113px);
}
.clock-indicator:nth-child(9) {
  transform: rotate(270deg) translateY(-113px);
  background-color: #aaa;
}
.clock-indicator:nth-child(10) {
  transform: rotate(300deg) translateY(-113px);
}
.clock-indicator:nth-child(11) {
  transform: rotate(330deg) translateY(-113px);
}
.clock-indicator:nth-child(12) {
  transform: rotate(360deg) translateY(-113px);
  background-color: #c00;
}
.clock-hour {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 128px;
  width: 4px;
  height: 65px;
  background-color: #555;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform-origin: 2px 50px;
  transition: 0.5s;
  -webkit-animation: rotate-hour 43200s linear infinite;
  -moz-animation: rotate-hour 43200s linear infinite;
}
.clock-minute {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 128px;
  width: 4px;
  height: 85px;
  background-color: #555;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform-origin: 2px 70px;
  transition: 0.5s;
  -webkit-animation: rotate-minute 3600s linear infinite;
  -moz-animation: rotate-minute 3600s linear infinite;
}
.clock-second {
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 129px;
  width: 2px;
  height: 130px;
  background-color: #a00;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform-origin: 1px 110px;
  transition: 0.5s;
  -webkit-animation: rotate-second 60s linear infinite;
  -moz-animation: rotate-second 60s linear infinite;
}
.clock-second:after {
  /* content: "";
  display: block;
  position: absolute;
  left: -3px;
  bottom: 16px;
  width: 8px;
  height: 8px;
  background-color: #a00;
  border: solid 2px #a00;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
}
.clock-center {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  top: 55px;
  left: 55px;
  background-image: linear-gradient(#e3e3e3, #f7f7f7);
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 #fafafa, inset 0 1px 0 #e3e3e3;
}
.clock-center:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 65px;
  background-color: #ddd;
  border-radius: 50%;
}
